<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        #app {
            margin: 50px;

        }

        table,
        tr,
        td,
        th {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px 10px;
            text-align: center;
        }

        th {
            background-color: aqua;
        }

        tr:nth-child(even) {
            background-color: beige;
        }

        #dept-menu {
            margin-bottom: 5px;
            text-align: center;
            height: 30px;
        }
    </style>


</head>

<body>
    <div id="app">
        <!-- id div tag안에서 html코드가 작성되어야 한다 -->

        <!-- <div v-for="item in list">
            {{item.ENAME}}
        </div>
        
        !!!!! 실행시키기전에 Server쪽 변수를 Synch해야함-->
        <div>
            <select id="dept-menu" v-model="deptNo" @change="fnEmpList">
                <option value="">::전체::</option>
                <option value="10">::ACCOUNTING::</option>
                <option value="30">::SALES::</option>
                <option value="20">::RESEARCH::</option>
                <option value="40">::OPERATIONS::</option>

            </select>
        </div>

        <table>
            <tr>
                <th>선택</th>
                <th>사번</th>
                <th>이름</th>
                <th>직책</th>
                <th>급여</th>
                <th>부서번호</th>
                <th>부서명</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <tr v-for="item in list">
                <td><input type="checkbox" :value="item.EMPNO" v-model="selectItems"> </td>
                <td>{{item.EMPNO}}</td>
                <td>
                    <a href="javascript:;" @click="fnView(item.EMPNO)">{{item.ENAME}}</a>
                </td>
                <td>{{item.JOB}}</td>
                <td>
                    <span v-if="item.SAL>3000" style="color:blue;">{{item.SAL}}</span>
                    <span v-else>{{item.SAL}}</span>
                </td>
                <td>{{item.DEPTNO}}</td>
                <td>{{item.DNAME}}</td>
                <td><button @click="fnEdit(item.EMPNO)">수정</button></td>
                <td><button @click="fnRemove(item.EMPNO)">삭제</button></td>
            </tr>
        </table>

        <div>
            <a href="emp-edit.html"><button>추가</button></a>
            <button @click="fnRemoveAll">선택삭제</button>
        </div>


    </div>
</body>

</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                list: [],
                deptNo: "", // 선택박스 default
                selectItems: []
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnEmpList: function () {
                let self = this;
                $.ajax({
                    url: "http://localhost:3009/emp/list",
                    dataType: "json",
                    type: "GET",
                    data: { deptNo: self.deptNo },
                    success: function (data) {
                        console.log(data);
                        self.list = data.empList;
                    }
                });
            },

            fnRemove: function (empNo) {
                let self = this;
                if (!confirm("정말 삭제하겠습니까?")) {
                    return;
                }

                $.ajax({
                    url: "http://localhost:3009/emp/delete",
                    dataType: "json",
                    type: "GET",
                    data: { empNo: empNo },
                    success: function (data) {
                        if (data.result == "success") {
                            alert("삭제되었습니다.");
                            self.fnEmpList();
                        };
                    }
                });
            },

            fnEdit: function (empNo) {
                location.href = "emp-edit.html?empNo=" + empNo;
            },

            fnView: function (empNo) {
                window.open(`emp-view.html?empNo=${empNo}`, "view", "width=500 height=500");
            },

            fnRemoveAll: function () {
                let self = this;
                console.log(self.selectItems);

                if (!confirm("정말 삭제하겠습니까?")) {
                    return;
                }

                $.ajax({
                    url: "http://localhost:3009/emp/deleteAll",
                    dataType: "json",
                    type: "GET",
                    data: { removeList: self.selectItems },
                    traditional: true,
                    success: function (data) {
                        if (data.result == "success") {
                            alert("삭제되었습니다.");
                            self.fnEmpList();
                        };
                    }
                });
            }


        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnEmpList();
        }
    });

    app.mount('#app');
</script>