<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        /* #app {
            width: 450px;
            height: 5px auto;
            background-color: grey;

        } */

        table,
        tr,
        td,
        th {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px 10px;
            text-align: center;

        }

        th {
            background-color: aqua;
        }

        tr:nth-child(even) {
            background-color: beige;
        }
    </style>


</head>

<body>
    <div id="app">
        <!-- id div tag안에서 html코드가 작성되어야 한다 -->

        <!-- <div v-for="item in list">
            {{item.ENAME}}
        </div> -->

        <table>
            <tr>
                <th>선택</th>
                <th>교수번호</th>
                <th>이름</th>
                <th>아이디</th>
                <th>직급</th>
                <th>급여</th>
                <th>수정</th>
                <th>삭제</th>

            </tr>
            <tr v-for="item in list">
                <td><input type="checkbox" :value="item.PROFNO" v-model="selectItems"> </td>
                <td>{{item.PROFNO}}</td>
                <td>
                    <a href="javascript:;" @click="fnView(item.PROFNO)">{{item.NAME}}</a>
                </td>
                <td>{{item.ID}}</td>
                <td>{{item.POSITION}}</td>
                <td>{{item.PAY}}</td>
                <td><button @click="fnEdit(item.PROFNO)">수정</button></td>
                <td><button @click="fnRemove(item.PROFNO)">삭제</button></td>
            </tr>
        </table>

        <div>
            <a href="prof-edit.html"><button>추가1</button></a>
            <button @click="fnRemoveAll" style="margin-left: 5px;">선택삭제</button>
        </div>

    </div>
</body>

</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                list: [],
                selectItems: []
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnProfList: function () {
                let self = this;
                let param = {};
                $.ajax({
                    url: "http://localhost:3009/prof/list",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        console.log(data);
                        self.list = data.profList;
                    }
                });
            },

            fnRemove: function (profNo) {
                let self = this;
                if (!confirm("정말 삭제하겠습니까?")) {
                    return;
                }

                let param = { profNo: profNo };
                $.ajax({
                    url: "http://localhost:3009/prof/delete",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        if (data.result == "success") {
                            alert("삭제되었습니다.");
                            self.fnProfList();
                        };
                    }
                });
            },

            fnEdit: function (profNo) {
                location.href = "prof-edit.html?profNo=" + profNo;
            },

            fnView: function (profNo) {
                window.open(`prof-view.html?profNo=${profNo}`, "view", "width=500 height=500");
            },              //  pk값을 가지고 이동하는 page   , 이름   ,   pop-up창                        

            fnRemoveAll: function () {
                let self = this;
                if (!confirm("정말 삭제하겠습니까?")) {
                    return;
                }

                let param = { removeList: selectItems };
                $.ajax({
                    url: "http://localhost:3009/prof/deleteAll",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        if (data.result == "success") {
                            alert("삭제되었습니다.");
                            self.fnProfList();
                        };
                    }
                });
            }


        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnProfList();
        }
    });

    app.mount('#app');
</script>